/* Component: Blockquote */

.blockquote {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: calc(var(--space-60) * 2) var(--space-60);
	background: var(--clr-primary-100) url("../../images/bg-blockquote.png") left 5% center / contain no-repeat;
	clip-path: polygon(5rem 0%, 100% 0, 100% 100%, 0 100%, 0 5rem);
}

.blockquote__decor {
	position: absolute;
	z-index: -1;
}

.blockquote__decor:nth-child(1) {
	top: 50%;
	right: 25%;
	transform: translateY(-70%);
}

.blockquote__decor:nth-child(2) {
	top: 50%;
	right: -5%;
	transform: translateY(-30%);
}

.blockquote__text {
	font-size: 1.75rem;
}

@media screen and (width < 80rem) {
	.blockquote {
		padding: var(--space-50) var(--space-30);
		clip-path: none;
	}

	.blockquote__text {
		font-size: var(--fs-body-md);
	}
}

@media screen and (width < 48rem) {
	.blockquote {
		padding: var(--space-20);
		clip-path: none;
	}

	.blockquote__text {
		font-size: var(--fs-body-xs);
	}
}
