/* Component: Chapters */

.chapters {
	display: flex;
	flex-direction: column;
	background: var(--clr-primary-100);
	padding: var(--space-20);
}

.chapters__heading {
	border-bottom: 1px solid var(--clr-neutral-300);
	margin-block: 0;
	padding-bottom: var(--space-20);
	font-style: italic;
}

.chapters__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.chapters__link {
	display: inline-block;
	margin-top: 0.75em;
	text-decoration: none;
	color: currentColor;
	transition: color var(--transition-ease-sm) 0s;
}

.chapters__link:hover,
.chapters__link.is-current {
	color: var(--clr-primary-400);
}

.chapters__link.is-current {
	font-style: italic;
}
