/* Layout: Section Schedule */

.section-schedule {
	position: relative;
	overflow: hidden;
}

.section-schedule__decor {
	position: absolute;
	width: 22.5vw;
	min-width: 15rem;
}

.section-schedule__decor:nth-child(1) {
	top: 0;
	left: 55%;
}

.section-schedule__decor:nth-child(2) {
	top: 50%;
	left: 70%;
}

.section-schedule__container {
	display: flex;
	flex-direction: column;
	gap: var(--space-60);
}

.section-schedule__head {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: var(--space-20);
	position: relative;
}

.section-schedule__body-error {
	font-size: var(--fs-body-md);
	font-style: italic;
}

@media screen and (width < 80em) {
	.section-schedule__container {
		gap: var(--space-40);
	}
}

@media screen and (width < 48em) {
	.section-schedule__decor:nth-child(2) {
		display: none;
	}

	.section-schedule__container {
		gap: var(--space-20);
	}
}
