/* Utilities: Wrapper */

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	min-height: 100svh;
}

.wrapper > header {
	flex: 0 0 auto;
}

.wrapper > main {
	flex: 1 1 auto;
}

.wrapper > footer {
	flex: 0 0 auto;
}
